body{font-size:14px;font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";padding:20px 0 80px 0;}
.demos-main{margin:20px 0 0 20px;width:95%;}
.demo-title1{font-weight:bold; color:#333;font-size:18px;margin-top:20px;margin-top:20px}